<!DOCTYPE html>
<html id="fc">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ config.store_name }} Receipt</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">

    <link href="{{ config.css_file }}" rel="stylesheet" media="all">

    <!-- FC script insertion -->{{ fc_header_content|raw }}<!-- /FC script insertion -->
</head>
<body>
<!-- has to be here because of chrome bug -->
    {% include 'svg.inc.twig' %}

    {% import "utils.inc.twig" as utils %}
    {% embed 'receipt.inc.twig' %}

        {% block receipt_messaging_and_actions %}
            <div id="fc-receipt__section--receipt_messaging_and_actions">
                {% block messaging %}
                    <div id="fc-messages" class="fc-receipt__section">
                        {% if is_updateinfo %}
                            <div class="fc-alert fc-alert--success">
                                {{ config.lang.checkout_updateinfo_completed|raw }}
                            </div>
                        {% elseif is_subscription_cancel %}
                            <div class="fc-alert fc-alert--success">
                                {{ config.lang.checkout_subscription_cancel_completed|raw }}
                            </div>
                        {% else %}
                            <div class="fc-alert fc-alert--success">
                                {{ config.lang.receipt_message_order|raw }}
                            </div>
                        {% endif %}

                        {% if payment_is_pending %}
                            <div class="fc-alert fc-alert--info">
                                {{ config.lang.checkout_payment_pending|raw }}
                            </div>
                        {% endif %}
                    </div>
                {% endblock messaging %}

                <div id="fc-receipt__section--actions" class="fc-receipt__section">
                    {% block downloadable_links %}
                        {% if has_downloadables and is_subscription_cancel == false %}
                            <div id="fc-receipt__section--downloadables" class="fc-receipt__section">
                                <fieldset>
                                    <legend>{{ config.lang.checkout_download_links|raw }}</legend>
                                    <div class="fc-form-group fc-form-group--static fc-form-group--receipt--downloadables">
                                        <label class="fc-form-label fc-container__grid--static-label--downloadables">{{ config.lang.checkout_download_links|raw }}</label>
                                        <div class="fc-container__grid--static-input--downloadables">
                                            <ul fc-list="fc-list fc-list--downloadables">
                                                {% for item in downloadable_links %}
                                                    <li class="fc-list--downloadables__item">
                                                        {% if item.url %}<a href="{{ item.url }}">{% endif %}
                                                            {{ item.name }}
                                                            {% if item.url %}</a>{% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        {% endif %}
                    {% endblock downloadable_links %}

                    <div id="fc-receipt__section--print-and-continue" class="fc-receipt__section">
                        <ul class="fc-list fc-list--inline">
                            <li class="fc-receipt-action fc-receipt-action--continue">
                                <a class="fc-button" href="{{ continue_url }}">{{ config.lang.checkout_continue_to|raw }}{{ config.store_name }}</a>
                            </li>
                            <li class="fc-receipt-action fc-receipt-action--print">
                                <a class="fc-button" href="#" onclick="window.print(); return false;">{{ config.lang.checkout_print_this_page|raw }}</a>
                            </li>
                            <li class="fc-receipt-action">
                                <div class="friendbuy-cHx-hO3"></div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        {% endblock receipt_messaging_and_actions %}

        {% block order_totals %}
            <h3 class="fc-transaction__header">{{ config.lang.cart_order_summary|raw }}</h3>

            <ul class="fc-transaction">
                {% if shipping_address.has_shippable_products or has_taxes or has_discounts %}
                    <li class="fc-transaction__subtotal fc-transaction__section">
                        {% if has_future_products %}<h5>{{ config.lang.cart_todays_charge|raw }}</h5>{% endif %}
                        <table>
                            <tr class="fc-subtotal--row">
                                <td class="fc-subtotal__label"><h5>{{ config.lang.cart_subtotal|raw }}</h5></td>
                                <td class="fc-subtotal__value">{{ total_item_price|money_format }}</td>
                            </tr>
                        </table>
                    </li>
                {% endif %}

                {% set enable_coupon_controls = (has_eligible_coupons and config.with_controls) %}
                {% if context == 'checkout' %}
                    {% set enable_coupon_controls = (has_eligible_coupons and config.template_config.custom_checkout_field_requirements.coupon_entry == 'enabled') %}
                {% endif %}
                {% if not is_subscription_cancel and (enable_coupon_controls or coupons|length > 0) %}
                    <li class="fc-transaction__discounts fc-transaction__section">
                        <div data-fc-id="block-coupon-entry">
                            {% block coupon_entry %}

                                <div class="fc-transaction__ui">
                                    <h5 class="fc-transaction__ui__header">{{ config.lang.cart_discounts|raw }}</h5>
                                    {% if enable_coupon_controls %}
                                        <button class="fc-transaction__ui__toggle fc-button" type="button" data-fc-id="show-coupon-input-button">
                                            {% if show_coupon_input_button %}
                                                {{ config.lang.cart_hide_coupon_input|raw }}
                                            {% else %}
                                                {{ config.lang.cart_add_coupon|raw }}
                                            {% endif %}
                                        </button>
                                    {% endif %}
                                </div>

                                {% set error_string = utils.get_error_string('coupon',messages.errors) %}
                                {% if enable_coupon_controls and show_coupon_input_button %}
                                    <div class="fc-coupon-entry--input">
                                        <input type="text"
                                               name="coupon"
                                               id="coupon"
                                               value="{{ current_coupon_code }}"
                                               class="fc-coupon-entry__input fc-form-control"
                                               placeholder="{{ config.lang.cart_coupon_code }}"
                                               autocomplete="off">
                                        <span class="fc-input-group__button">
                            <button class="fc-button fc-coupon-entry__apply" type="button" data-fc-id="add-coupon-button">{{ config.lang.cart_apply|raw }}</button>
                        </span>
                                    </div>
                                {% endif %}

                                {% if loading_coupons %}
                                    <div class="fc-spinner">
                                        <div class="bounce1"></div>
                                        <div class="bounce2"></div>
                                        <div class="bounce3"></div>
                                    </div>
                                {% endif %}

                                {% if error_string %}
                                    <div class="fc-alert fc-alert--warning">
                                        {{ error_string }}
                                    </div>
                                {% endif %}

                            {% endblock coupon_entry %}
                        </div><!-- data-fc-id="block-coupon-entry" -->

                        {% set free_shipping_value = 0 %}
                        {% if coupons|length > 0 %}
                            <table>
                                {% for key,coupon in coupons %}
                                    {% if (key == "free_shipping" and coupon.value > 0) %}
                                        {% set free_shipping_value = coupon.value %}
                                    {% else %}
                                        <tr class="fc-subtotal--row {# if not coupon.is_applied %}fc-subtotal--row--inactive{% endif #}" data-fc-coupon-container-id="{{ coupon.id }}">
                                            <td class="fc-subtotal__label">
                                                <span class="fc-coupon__name">{{ coupon.name }}</span>:
                                                <span class="fc-coupon__code">{{ key }}</span>
                                                {% if enable_coupon_controls %}
                                                    <span class="fc-action--close">
                                            <a href="https://{{ config.store_domain }}/cart?cart=remove_coupon&amp;coupon_code_id={{ coupon.id }}&amp;{{ session_name }}={{ session_id }}" title="{{ config.lang.cart_remove_coupon }}" data-fc-id="remove-coupon-link" data-fc-coupon-code-id="{{ coupon.id }}">
                                                <svg class="fc-svg-icon" title="Remove Coupon" role="presentation"><use xlink:href="#fa-times-circle" /></svg>
                                            </a>
                                        </span>
                                                {% endif %}
                                            </td>
                                            <td class="fc-subtotal__value">{{ coupon.amount|money_format }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        {% endif %}
                    </li>
                {% endif %}

                {% if shipping_address.has_shippable_products %}
                    <li class="fc-transaction__shipping fc-transaction__section">
                        {% if context == 'cart' and not has_multiple_addresses %}
                            <div class="fc-transaction__ui">
                                <h5 class="fc-transaction__ui__header">{{ config.lang.cart_shipping_to|raw }}</h5>
                                {% if shipping_address.country and shipping_address.city and show_address_entry == false %}
                                    <button data-fc-id="change-shipping-location-button" class="fc-button fc-transaction__ui__toggle" type="button">{{ config.lang.cart_change|raw }}</button>
                                {% endif %}
                            </div>
                            {% if shipping_address.country and shipping_address.city %}
                                <address class="fc-transaction__shipping-address">
                                    {{ shipping_address.city }}, {{ shipping_address.region }} {{ shipping_address.postal_code }}
                                    {% if config.template_config.foxycomplete.show_flags %}
                                        <img src="//cdn.foxycart.com/static/images/icons/flags/famfamfam/{{ shipping_address.country|lower }}.png" alt="{{ shipping_address.country }}">
                                    {% endif %}
                                </address>
                            {% endif %}
                        {% endif %}

                        {% set shipping_service_label = config.lang.cart_shipping_and_handling|raw %}
                        {% if shipping_address.shipping_service_id != 0 and shipping_address.shipping_service_description %}
                            {% set shipping_service_label = shipping_address.shipping_service_description %}
                        {% endif %}

                        {% set display_total_shipping = (total_shipping - free_shipping_value) %}
                        <table>
                            <tbody class="fc-subtotal--shipping">
                            <tr class="fc-subtotal--row">
                                <td class="fc-subtotal__label">{{ shipping_service_label }}</td>
                                <td class="fc-subtotal__value">
                                    {% if show_shipping_tbd %}
                                        {{ config.lang.cart_tbd|raw }}
                                    {% else %}
                                        {{ display_total_shipping|money_format }}
                                    {% endif %}
                                    <input
                                            id="total_shipping"
                                            type="hidden"
                                            name="total_shipping"
                                            value="{{ total_shipping }}"
                                    />
                                    <input
                                            id="total_future_shipping"
                                            type="hidden"
                                            name="total_future_shipping"
                                            value="{{ total_future_shipping }}"
                                    />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                {% endif %}

                {% if has_taxes %}
                    <li class="fc-transaction__taxes fc-transaction__section">
                        {% set show_tax_header = false %}
                        {% if has_multiple_addresses %}
                            {% for multiship in multiship_data %}
                                {% if multiship.taxes|length > 0 %}
                                    {% set show_tax_header = true %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% if shipping_address.taxes|length > 0 %}
                                {% set show_tax_header = true %}
                            {% endif %}
                        {% endif %}
                        {% if context == 'receipt' %}
                            {% set show_tax_header = false %}
                        {% endif %}
                        {% if show_tax_header %}
                            <div class="fc-transaction__ui">
                                <h5 class="fc-transaction__ui__header">{{ config.lang.cart_tax|raw }}</h5>
                            </div>
                            {% if loading_taxes %}
                                <div class="fc-spinner">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            {% endif %}
                        {% endif %}
                        <table>
                            <tbody data-fc-id="taxes" class="fc-subtotal--taxes">
                            {% block taxes %}
                                {% if has_multiple_addresses %}
                                    {% if context == 'checkout' %}
                                        {% for multiship in multiship_data %}
                                            {% for tax in multiship.taxes %}
                                                <tr class="fc-subtotal--row">
                                                    <td class="fc-subtotal__label">
                                                        {{ multiship.address_name }}: {{ tax.name }} (<span class="fc_cart_foot_tax_rate">{{ tax.rate }}</span>%):
                                                    </td>
                                                    <td class="fc-subtotal__value">
                                                        {{ tax.amount|money_format }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if context == 'receipt' %}
                                        <tr class="fc-subtotal--row">
                                            <td class="fc-subtotal__label">
                                                {{ config.lang.cart_tax|raw }}
                                            </td>
                                            <td class="fc-subtotal__value">
                                                {{ total_tax|money_format }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% else %}
                                    {% for tax in shipping_address.taxes %}
                                        <tr class="fc-subtotal--row">
                                            <td class="fc-subtotal__label">
                                                {{ tax.name }} (<span class="fc_cart_foot_tax_rate">{{ tax.rate }}</span>%):
                                            </td>
                                            <td class="fc-subtotal__value">
                                                {{ tax.amount|money_format }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endblock %}
                            </tbody>
                        </table>
                    </li>
                {% endif %}

                <li class="fc-transaction__total fc-transaction__section">
                    <table>
                        <tr class="fc-subtotal--row">
                            <td class="fc-subtotal__label">
                                {{ config.lang.cart_order_total|raw }}:
                            </td>
                            <td class="fc-subtotal__value">
                                {{ total_order|money_format }}
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>

            {% if context == "checkout" and has_multiple_addresses %}
                <div class="fc-transaction fc-transaction--multiship">
                    <button type="button" class="fc-button fc-transaction__ui__toggle" data-fc-id="button-toggle-multiship-details">{{ config.lang.cart_details|raw }}</button>
                    {% for multiship in multiship_data %}
                        <div class="fc-transaction__ui">
                            <h5 class="fc-transaction__ui__header">{{ config.lang.cart_shipto|raw }}{{ multiship.address_name }}
                                <span class="fc-transaction__ui__header__value">{{ multiship.total_price|money_format }}</span></h5>
                            {% if show_multiship_details %}
                                <table>
                                    <tr class="fc-subtotal--row">
                                        <td class="fc-subtotal__label"> {{ config.lang.checkout_shipment_subtotal|raw }}: </td>
                                        <td class="fc-subtotal__value"> {{ multiship.total_item_price|money_format }} </td>
                                    </tr>
                                    <tr class="fc-subtotal--row">
                                        <td class="fc-subtotal__label"> {{ multiship.shipping_service_description }}: </td>
                                        <td class="fc-subtotal__value"> {{ multiship.total_shipping|money_format }} </td>
                                    </tr>
                                    <tr class="fc-subtotal--row">
                                        <td class="fc-subtotal__label"> {{ config.lang.checkout_shipment_tax|raw }}: </td>
                                        <td class="fc-subtotal__value"> {{ multiship.total_tax|money_format }} </td>
                                    </tr>
                                    <tr class="fc-subtotal--row">
                                        <td class="fc-subtotal__label"> {{ config.lang.checkout_shipment_total|raw }}: </td>
                                        <td class="fc-subtotal__value"> {{ multiship.total_price|money_format }} </td>
                                    </tr>
                                </table>
                            {% endif %}
                        </div>
                    {% endfor %}

                </div>
            {% endif %}

            {% if has_future_products and not is_subscription_cancel %}
                {% block future_products %}
                    <div class="fc-transaction fc-transaction--future">
                        {% set has_future_subscription_details = false %}
                        {% if has_future_shipping or future_coupons|length > 0 or has_future_taxes %}
                            {% set has_future_subscription_details = true %}
                        {% endif %}
                        {% if (context == "cart" or context == "checkout") and has_future_subscription_details %}
                            <button type="button" class="fc-button fc-transaction__ui__toggle" data-fc-id="button-toggle-future-subscription-details">{{ config.lang.cart_details|raw }}</button>
                        {% endif %}
                        <h5 class="fc-transaction__ui__header">
                            {% if future_subscription_totals_by_date|length > 1 %}
                                {{ config.lang.cart_future_charges|raw }}
                            {% else %}
                                {{ config.lang.cart_future_charge|raw }}
                            {% endif %}
                        </h5>
                        {% for key, subscription_item_total in future_subscription_totals_by_date %}
                            <div class="fc-transaction__ui">
                                <h5 class="fc-transaction__ui__header">{{ key|date("F jS, Y") }}
                                    <span class="fc-transaction__ui__header__value">{{ subscription_item_total.total|money_format }}</span>
                                </h5>
                                {% if has_future_subscription_details and show_future_subscriptions_details %}
                                    <table>
                                        <tr class="fc-subtotal--row">
                                            <td class="fc-subtotal__label"> {{ config.lang.cart_subtotal|raw }}: </td>
                                            <td class="fc-subtotal__value"> {{ subscription_item_total.total_item_price|money_format }} </td>
                                        </tr>
                                        {% for key,coupon in future_coupons %}
                                            <tr class="fc-subtotal--row fc-transaction--future__discounts">
                                                <td class="fc-subtotal__label">{{ coupon.name }}: {{ key }}</td>
                                                <td class="fc-subtotal__value">{{ coupon.amount|money_format }}</td>
                                            </tr>
                                        {% endfor %}
                                        {% if has_future_shipping %}
                                            <tr class="fc-subtotal--row">
                                                <td class="fc-subtotal__label"> {{ shipping_address.future_shipping_service_description }}: </td>
                                                <td class="fc-subtotal__value"> {{ subscription_item_total.total_shipping|money_format }} </td>
                                            </tr>
                                        {% endif %}
                                        {% if has_future_taxes %}
                                            <tr class="fc-subtotal--row">
                                                <td class="fc-subtotal__label"> {{ config.lang.cart_tax|raw }}: </td>
                                                <td class="fc-subtotal__value"> {{ subscription_item_total.total_tax|money_format }} </td>
                                            </tr>
                                        {% endif %}
                                        <tr class="fc-subtotal--row">
                                            <td class="fc-subtotal__label"> {{ config.lang.cart_total|raw }}: </td>
                                            <td class="fc-subtotal__value"> {{ subscription_item_total.total|money_format }} </td>
                                        </tr>
                                    </table>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endblock future_products %}
            {% endif %}
        {% endblock order_totals %}

    {% endembed %}

    <!--[if lt IE 9 ]>
        <script src="{{ config.cdn_static_path }}scripts/respond/respond.1.4.2.js" charset="utf-8"></script>
    <![endif]-->
    <!-- FC footer script insertion -->{% include template_from_string(fc_footer_content) %}<!-- /FC footer scripts -->

    {#Google Analytics Ecommerce Code Here#}
    {% if first_receipt_display %}
        <script language="javascript">
            ga('require', 'ecommerce');
            ga('ecommerce:addTransaction', {
                'id': '{{ order_id }}',
                'affiliation': 'Vocaleze.com',
                'revenue': '{{ total_item_price }}'
            });
            ga('ecommerce:send');
            // Track Facebook Conversions
            fbq('track', 'Purchase', {value: '{{ total_item_price }}', currency:'USD'});
        </script>
        {#Pinterest#}
        <script type="text/javascript"> !function(e){if(!window.pintrk){window.pintrk=function(){window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var n=window.pintrk;n.queue=[],n.version="3.0";var t=document.createElement("script");t.async=!0,t.src=e;var r=document.getElementsByTagName("script")[0];r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js"); pintrk('load','2617466020020'); pintrk('page', { page_name: 'Vocaleze', page_category: 'Checkout' }); pintrk('track', 'checkout'); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://ct.pinterest.com/v3/?tid=2617466020020&noscript=1" /> </noscript>

        <script type='text/javascript'>
            !function(d,s) {
            var rc = "//go.referralcandy.com/purchase/sne2m8x63pwrxba7n8a2d891i.js";
            var js = d.createElement(s);
            js.src = rc;
            var fjs = d.getElementsByTagName(s)[0];
            fjs.parentNode.insertBefore(js,fjs);
            }(document,"script");
        </script>
    {% endif %}

</body>
</html>